# Secrets example, adapt and copy on the server to /srv/grafana/secret.env

GF_SERVER_ROOT_URL=

GF_SMTP_ENABLED=true
GF_SMTP_HOST=
GF_SMTP_FROM_ADDRESS=
GF_SMTP_FROM_NAME=
GF_SMTP_STARTTLS_POLICY=MandatoryStartTLS

GF_SMTP_USER=
GF_SMTP_PASSWORD=
