# Common credentials example, adapt and copy on the server to /srv/inframonitor_common/secret.env
# These credentials will be used by all services using influxdb / mongodb

INFLUXDB_HOST=influxdb
INFLUXDB_USER=sensor
INFLUXDB_PASSWORD=
INFLUXDB_SSL=True

MONGODB_HOST=mongodb
MONGODB_USER=sensor
MONGODB_PASSWORD=

MONGODB_PROTECTED_USER=protected
MONGODB_PROTECTED_PASSWORD=

MQTT_HOST=mqtt
MQTT_AGENT_CLIENT_ID=mqtt-agent-dev

METEOBLUE_API_KEY=deadbeefdead
